@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Zen+Tokyo+Zoo:regular);

body {
    background-color: #00214A;
    font-family: 'Jost';
    font-size: 20px;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    width: 1276px;
    margin: auto;
}

a {
    text-decoration: 0;
    color: #ffffff;
}

span {
    font-size: 16px;
    color: #ffffff80;
}

header {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 1276px;
    justify-content: space-between;
    align-items: center;
}

.menu ul>li {
    list-style-type: none;
    display: inline-block;
}

.menu ul>li:not(:first-child) {
    margin-left: 100px;
}

.auth {
    background-color: #D70170;
    padding: 10px 30px;
    border-radius: 18px;
}

.poster {
    width: 1276px;
    height: 550px;
    margin: auto;
}

.barbie {
    background-image: url(../img/barbie.png);
}

.vverx {
    background-image: url(../img/vverx.png);
    display: flex;
    align-items: center;
}

.phoenix {
    background-image: url(../img/phoenix.png);
    display: flex;
    align-items: center;
}

.content_poster {
    width: 416px;
    margin-left: 58px;
    margin-top: 22px;
}

.podpiska_butt {
    font-size: 24px;
    font-weight: 700;
    padding: 18px 20px;
    border-radius: 18px;
}

.barbie_butt {
    background-color: #D70170;
}

.vverx_butt {
    background-color: #00214A;
}

.name_sec {
    font-family: 'Zen Tokyo Zoo';
    background: linear-gradient(90deg, #EA24B5 1.66%, #0D3F7C 58.66%, #05BBEB 98.76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 50px 0px;
}

.cards_new_films {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category {
    margin: auto;
}

.rank {
    position: absolute;
    z-index: 1;
    padding: 3px 13px;
    background-color: #724E94;
    border-radius: 18px;
    margin: 7px;
}

.video_trailer {
    width: 678px;
    height: 460px;
    border-radius: 20px;
}

.name_film {
    color: #D60170;
    font-size: 24px;
    font-weight: 700;
}

.description_film {
    margin-left: 35px;
}

.trailer_film {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.small_description {
    display: flex;
    margin-top: 9px;
    margin-bottom: 33px;
    font-weight: 700;
    color: #ffffff80;
}

.small_description p:not(:first-child) {
    margin-left: 22px;
    color: #ffffff;
}

.description {
    width: 563px;
    font-weight: 400;
}

.nazad {
    margin: 30px 0px;
}

.reccomend {
    margin-bottom: 50px;
}

.reccomend button {
    background-color: #00214a00;
    border-radius: 20px;
    border: 0;
    font-family: 'Jost';
    text-align: left;
    color: #ffffff;
}

.reccomend button p {
    font-size: 20px;
    font-family: 'Jost';
}



.oform_zakaz {
    position: absolute;
    z-index: 1;
    background-color: #ffffff00;
    border: 0;
    margin-left: 355px;
    margin-top: 10px;
}


.forms {
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: 'Jost';
}

.input_reg {
    width: 400px;
    height: 60px;
    border-radius: 18px;
    border: 0;
    margin-bottom: 27px;
    padding: 0px 40px;
    font-family: 'Jost';
}

.button_reg {
    border-radius: 18px;
    background: #D60170;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 20px;
    margin: 20px 0px;
}

.checkbox {
    width: 10px;
}

.search {
    width: 1250px;
    border-radius: 18px;
    padding: 10px 10px;
    border: 2px solid #D60170;
    font-family: 'Jost';
    margin: 20px 0px;
}

.search:before {
    font-size: 20px;
    color: #be290e;
}

.search:focus {
    background-color: #fff;
    border-color: #D60170;
    outline: 0;
    filter: drop-shadow(0px 0px 10px #D60170);
}


.search_form button {
    background-color: #724E94;
    color: #FFF;
    border: 0;
    font-family: 'Jost';
    border-radius: 18px;
    padding: 10px 40px;
    margin: 20px 0px;
}

.podpiska_cabinet {
    background-image: url(../../user/asset/img/podpiska.png);
    width: 1276px;
    height: 375px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 20px;
}

.podpiska_cabinet a {
    padding: 10px 44px;
    font-weight: 700;
    border-radius: 20px;
    background: #D60170;
    box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

.actors {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.episod {
    width: 400px;
    height: 200px;
    background: linear-gradient(90deg, #000 0.38%, #00214A 51.15%, #000 100.39%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.episod:hover {
    filter: drop-shadow(0px 0px 10px #D60170);
}

footer {
    text-align: center;
    margin: 30px 0px;
    color: #D60170;
}

.reviews {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.review {
    width: 350px;
    background-color: #080e16;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 20px;
}

.name_user_rew {
    font-weight: 700;
}

.otcenka {
    color: #D60170;
    font-weight: 700;
}

.review:hover {
    filter: drop-shadow(0px 0px 10px #D60170);
}

.text_rew {
    display: flex;
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
}

.text_rew p:not(:first-child) {
    margin-left: 20px;
    color: #D60170;
}


.filters li {
    display: inline-block;
    margin-right: 50px;
}

.filters li.active a {
    color: #D60170;
}


.cards_new_films:after {
    display: block;
    clear: both;
}

.filters_div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.filters_a {
    color: #ffffff;
    margin-left: 50px;
}

.info_user {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.info_user p {
    margin: 0px 30px;
    font-weight: 700;
}

.span_user {
    color: #D70170;
    font-size: 32px;
}

.content_str_podpiska {
    display: flex;
    justify-content: space-between;
    width: 1276px;
    margin: auto;
}

.card_podpiska {
    background-color: #0D3F7C;
    width: 600px;
    height: 400px;
    border-radius: 20px;
}

.content_card_podpiska {
    width: 499px;
    height: 340px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.name_price_tariff {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.name_price_tariff h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}

.name_price_tariff p {
    color: #D60170;
    font-size: 36px;
    font-weight: 700;
}

.form_oform {
    display: flex;
    align-items: flex-end;
}

.form_podpiska_butt {
    display: flex;
    align-items: flex-end;
}

.desc {
    width: 100%;
}

.butt_oform_podpiska {
    width: 499px;
    height: 70px;
    flex-shrink: 0;
    border: 0px;
    border-radius: 20px;
    background: #D60170;
    color: #FFF;
    font-family: 'Jost';
    font-size: 32px;
    font-weight: 700;
}

.message {
    text-align: center;
    margin:30px 0px;
}

.text_podpiska_buy {
    text-align: center;
    margin: 30px 0px;
}

.admin_panel_h1 {
    text-align: center;
    margin: 30px 0px;
    color: #080e16;
}

.content_cabinet_admin {
    width: 1276px;
    margin: auto;
}

.content_cabinet_admin h1 {
    text-align: center;
    color: #D70170;
    margin: 30px 0px
}

.table_form {
    width: 100%;
    text-align: center;
}

.add_prod_form {
    text-align: center;
}

.add_prod_form input {
    width: 100%;
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 0px;
}

.add_prod_form input:before {
    font-size: 20px;
    color: #be290e;
}

.add_prod_form input:focus {
    background-color: #fff;
    border-color: #D60170;
    outline: 0;
    filter: drop-shadow(0px 0px 10px #D60170);
}

.add_prod_form button {
    border-radius: 18px;
    background: #D60170;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 20px;
    margin: 20px 0px;
}

